nav#light {
    align-items: center;
    background-color: #e2e2e2;
    color: #21758d;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    padding: 0 6vmax;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav h1 {
    font-size: 2rem;
    font-weight: 700;
}

nav button {
    background-color: transparent;
    border: none;
    color: #b16873;
    cursor: pointer;
}



/* dark mode*/

nav#dark {
    align-items: center;
    background-color: #181818;
    color: #21758d;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    padding: 0 6vmax;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}