footer#light {
    align-items: center;
    background-color: #e2e2e2;
    color: #21758d;
    display: flex;
    height: 5vh;
    justify-content: center;
    padding: 0 6vmax;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

footer span {
    font-size: 0.8rem;
}

footer a {
    color: #21758d;
    font-size: 0.8rem;
    text-decoration: none;
}



/* dark mode*/

footer#dark {
    align-items: center;
    background-color: #181818;
    color: #21758d;
    display: flex;
    height: 5vh;
    justify-content: center;
    padding: 0 6vmax;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}