  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  #root {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    overscroll-behavior: none;
    -webkit-text-size-adjust: 100%;
    width: 100%;
  }

  html::-webkit-scrollbar {
    display: none;
  }